<!DOCTYPE html>
<html>
<head>
	<!-- Latest compiled and minified CSS -->
	<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous"> -->

	<!-- Optional theme -->
	<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous"> -->

	<!-- Latest compiled and minified JavaScript -->
	<!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script> -->

	<link href="bootstrap.min.css" rel="stylesheet">
	<link href="bootstrap-theme.min.css" rel="stylesheet">
	<!-- <link href="simple-sidebar.css" rel="stylesheet"> -->
	<link href="dashboard.css" rel="stylesheet">
	<!-- <link href="sticky-footer.css" rel="stylesheet"> -->

    <title>Keepon Audio Interface</title>

   	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

    <!-- Bootstrap core CSS -->
    <!-- <link href="../../dist/css/bootstrap.min.css" rel="stylesheet"> -->

    <!-- Custom styles for this template -->
   <!--  <link href="dashboard.css" rel="stylesheet"> -->


</head>
<body>
	<div class="screen">
     	<div class="navbar-header">
	     	<div class="kai">
	     		<h1>Keepon Audio Interface</h1>
	    		</div>

	    		<div class="improv">
		        <h5>Improvisational Text</h5>
		     	<div id="text">
			        <input id='input-text' textarea class="form-control" rows="3" placeholder="Enter text here." required>


				    <button id='playbutton' onclick='playAudio()'>Play</button>
			     
	    		</div>
	     	</div>
     	</div>

<!-- Sidebar -->
     	<div class="container">
	    	<!-- <div class="row"> -->
	        	<div class="col1-sidebar">
	        		<ul class="nav-sidebar">
			        	<li class="active"><button onclick='changePhrases("intro")'>Introduction</button></li>
		            	<li class="active"><button onclick='changePhrases("drawing")'>Drawing</button></li>
		            	<li class="active"><button onclick='changePhrases("lego")'>Lego</button></li>
		            	<li class="active"><button onclick='changePhrases("conflict")'>Conflict</button></li>
		            	<li class="active"><button onclick='changePhrases("confAna")'>Conflict Analysis</button></li>

		            	<li class="active"><button onclick='changePhrases("confRes")'>Conflict Resolution</button></li>
		            	
		            	<li class="active"><button onclick='changePhrases("context-specific")'>Context Specific</button></li>
		            	<li class="active"><button onclick='changePhrases("termination")'>Termination</button></li>
		            	
	          		</ul>

	          		<ul class="downloadB">	
	          			<li class="hovering"><button onclick='download()'>Download</button></li>
	          		</ul>

	          		<ul class="downloadB">	
	          			<li class="hovering"><button onclick='downloadAll()'>Download All Names</button></li>
	          		</ul>

	          		<div class="extra">

			    	<input type="radio" id="hide" name="checking" onclick="ShowHideDiv()" checked>Hide
					<input type="radio" id="show" name="checking" onclick="ShowHideDiv()">Show

					<div id = "confRes-nav" style="display:none">
			  			<% for(var i = 0; i < phrases16.length; i++) { %>
						<button onclick='setAudio("<%= phrases16[i] %>")'><%= phrases16[i] %></button>
						<% } %>
					</div>
				</div>

	          		

	          	</div>

          		

			<div class="col2">
			    	<div class="col-sm-6">
						<input id='participantA' type='text' placeholder="Participant A" value="<%= locals.pa %>">
						</br>
						<% for(var i = 0; i < phrasesleft.length; i++) { %>
							<button onclick='setAudio("<%= phrasesleft[i] %>")'><%= phrasesleft[i] %></button>
						<% } %>
							
							
						<audio id='audioelement' src='' type='audio/wav'></audio>

					</div>

					<div class = "col-sm-6">
						<input id='participantB' type='text' placeholder="Participant B" value="<%= locals.pb %>">
						</br>
						<% for(var i = 0; i < phrasesright.length; i++) { %>
							<button onclick='setAudio("<%= phrasesright[i] %>")'><%= phrasesright[i] %></button>
						<% } %>

						<audio id='audioelement' src='' type='audio/wav'></audio>
					</div>
				</div>



		</div>

		<div class = "footer">
					<% for(var i = 0; i < phrases14.length; i++) { %>
						<div class="bottom-col">
							<button onclick='setAudio("<%= phrases14[i] %>")'><%= phrases14[i] %></button>
						</div>
					<% } %>
				</div>

		

	</div>

	<script>
		function setAudio(src){
			if (!(document.getElementById('participantA').value == '') && !(document.getElementById('participantB').value == '')){
				src = src.replace(/<participantA>/g, document.getElementById('participantA').value);
				src = src.replace(/<participantB>/g, document.getElementById('participantB').value);
				// src = src.replace('<input-text>', document.getElementById('input').value);
		
				src = encodeURIComponent(src);
				document.getElementById('audioelement').src = 'audio/' + src + '.wav';
				document.getElementById('audioelement').currentTime = 0;
				document.getElementById('audioelement').play();
			}else{
				alert("One or both participant fields are empty.");
			}
		}

		function playAudio(){
			console.log('playing audio');
			setAudio(document.getElementById('input-text').value);
		}

		function changePhrases(type){
			window.open("?type=" + type + '&pa=' + document.getElementById('participantA').value + '&pb=' + document.getElementById('participantB').value, "_self");
		}

	    function ShowHideDiv() {
	    	var show = document.getElementById("show");
	    	var confRes = document.getElementById("confRes-nav");
	    	confRes.style.display = show.checked ? "block" : "none";
		   
		}

		function download(){
			// alert('downloading all audio');
			var pa = document.getElementById('participantA').value;
			var pb = document.getElementById('participantB').value;
			var confirmation = "Download all with participants '" + pa + "' and '" + pb + "'?";
			if(confirm(confirmation)) {
				$.get("/allaudio?" + 'pa=' + pa + '&pb=' + pb, function(data){
					alert(data);
				});
			} else {
				alert("Did not download.")
			}
		}

		function downloadAll(){
			var confirmation = "Download all with participants names?";
			if(confirm(confirmation)) {
				$.get("/downloadnames?", function(data){
					alert(data);
				});
			} else {
				alert("Did not download.")
			}
		}

	</script>
</body>
</html>
